html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: url("http://source.igdut.cn/1.4/global_bg.jpg");
}

li {
    list-style: none;
}

i {
    font-style: inherit;
}

@font-face {
    font-family: abc;
    src: url('http://source.igdut.cn/zhanku.ttf') format('truetype');
}

.font-abc {
    font-family: abc, sans-serif;
    color: #1a1a1a;
    font-size: 44px;
    line-height: 76px;
    opacity: 0;
    animation: font-animation 1s linear;
    -webkit-animation: font-animation 1s linear;
    display: none;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.font-abc span {
    color: #bf1a16;
    font-size: 56px;
    font-weight: 100;
}

.default-color {
    color: #1a1a1a;
}

[data-dpr="2"] .font-abc {
    font-size: 46px;
}

[data-dpr="2"] .font-abc span {
    font-size: 58px;
}

[data-dpr="3"] .font-abc {
    font-size: 48px;
}

[data-dpr="3"] .font-abc span {
    font-size: 62px;
}

/*文字默认定位*/
.font-position {
    position: absolute;
    left: 1.388rem;
    top: 3.777rem;
    padding-right: 1.388rem;
}

[data-dpr="2"] .font-position {
    left: 0.666rem;
    top: 1.813rem;
    padding-right: 0.666rem;
}

[data-dpr="3"] .font-position {
    left: .402rem;
    top: 1.095rem;
    padding-right: .402rem;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-content {
    position: relative;
}

/*.swiper-container-vertical > .swiper-pagination-bullets {*/
/*display: none;*/
/*right: 0.33rem;*/
/*top: 48%;*/
/*}*/

/*.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {*/
/*background: #b28947;*/
/*opacity: .4;*/
/*width: 0.25rem;*/
/*height: 0.25rem;*/
/*margin: 0.1rem 0;*/
/*}*/

/*.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet-active {*/
/*background: #b28947;*/
/*opacity: 1;*/
/*}*/

/*加载loading*/
.loading-content {
    position: relative;
    background: #f1eee5;
    height: 100%;
    width: 100%;
}

.loading-bg {
    width: 100%;
    height: 100%;
}

.center {
    width: 300px; /*元素的宽度*/
    height: 260px; /*元素的高度(图片200+文字60)*/
    position: absolute;
    left: 50%; /*配合margin-left的负值实现水平居中*/
    margin-left: -150px; /*值的大小等于元素宽度的一半*/
    top: 50%; /*配合margin-top的负值实现垂直居中*/
    margin-top: -130px; /*值的大小等于元素高度的一半*/
}

.loading-book {
    width: 300px;
    height: 200px;
    z-index: 9999;
}

.progress {
    height: 40px;
    line-height: 60px;
    color: #bf1a16;
    font-size: 34px;
}

[data-dpr="2"] .progress {
    font-size: 46px;
}

[data-dpr="3"] .progress {
    font-size: 60px;
}

/*箭头*/
.arrow-container {
    width: 61px; /*箭头宽度*/
    margin: 0 auto;
    text-align: initial;
}

.arrow {
    position: absolute;
    bottom: .1rem;
    animation: arrow-animation 1.2s linear infinite;
    -webkit-animation: arrow-animation 1.2s linear infinite;
}

/*分享页[查看我的]按钮*/
.show-mine {
    position: absolute;
    left: 50%;
    margin-left: -69px;
    bottom: 7px;
    width: 138px;
    height: 55px;
    background: url('http://source.igdut.cn/1.4/btn_mine.png') 0 0 no-repeat;
    background-size: 100%;
    border: none;
    outline: none;
    z-index: 9999;
}

/*1.欢迎页*/
.slide1 {
    background: url('http://source.igdut.cn/1.4/pg1_welcome.png') 0 0;
    background-size: 100% 100%;
    text-align: center;
}

.font-welcome {
    left: auto !important;
    top: auto !important;
    bottom: 3.6rem;
    width: 100%;
}

[data-dpr="2"] .font-welcome {
    bottom: 1.6rem;
}

[data-dpr="3"] .font-welcome {
    bottom: 1rem;
}

/*2.第一次来到图书馆*/
.slide2 {
    background: url('http://source.igdut.cn/1.4/pg2_firsttime.png') 0 0;
    background-size: 100% 100%;
}

.font-firsttime {
    left: auto !important;
    right: 0 !important;
    text-align: right;
}

/*3.借的第一本书*/
.slide3 {
    background: url('http://source.igdut.cn/1.4/pg3_firstbook.png') 0 0;
    background-size: 100% 100%;
}

.font-firstbook {

}

/*4.借阅总量*/
.slide4 {
    background: url('http://source.igdut.cn/1.4/pg4_total.png') 0 0;
    background-size: 100% 100%;
}

.font-total {

}

/*5.借阅清单*/
.slide5 {
    background: url('http://source.igdut.cn/1.4/global_bg.jpg') 0 0;
    background-size: 100% 100%;
}

.font-borrowlist-title {
    top: 1.8rem;
}

[data-dpr="2"] .font-borrowlist-title {
    top: .8rem;
}

[data-dpr="3"] .font-borrowlist-title {
    top: .3rem;
}

.font-borrowlist-books {
    height: 100%;
    overflow: hidden;
    margin: .4rem .6rem;
    padding-bottom: .4rem;
    font-size: 44px;
    line-height: 50px;
}

[data-dpr="2"] .font-borrowlist-books {
    margin: .2rem .3rem;
    padding-bottom: .2rem;
    font-size: 40px;
    line-height: 50px;
}

[data-dpr="3"] .font-borrowlist-books {
    margin: .1rem .2rem;
    padding-bottom: .2rem;
    font-size: 40px;
    line-height: 50px;
}

/*加 !important 是为了覆盖上面两个data-dpr="2/3"属性*/
.font-small {
    font-size: 42px !important;
    line-height: 42px !important;
}

.font-very-small {
    font-size: 38px !important;
    line-height: 38px !important;
}

.font-big {
    font-size: 44px !important;
    line-height: 55px !important;
}

.borrowlist-container {
    position: absolute;
    width: 100%;
    top: 4.2rem;
    bottom: 3.8rem;
    overflow: visible;
}

[data-dpr="2"] .borrowlist-container {
    top: 2rem;
    bottom: 1.8rem;
}

[data-dpr="3"] .borrowlist-container {
    top: 1.05rem;
    bottom: 1.0rem;
}

.borrowlist-container li {
    width: 100%;
    padding: .18rem 0;
}

[data-dpr="2"] .borrowlist-container li {
    padding: .09rem 0;
}

[data-dpr="3"] .borrowlist-container li {
    padding: .065rem 0;
}

.h-slide {
    float: left;
    height: 100%;
    width: 80%;
    position: relative;
    background: #fff;
    border-top: .35rem solid #76428e;
    border-radius: .35rem .35rem 0 0;
}

[data-dpr="2"] .h-slide {
    border-top: 0.15rem solid #76428e;
    border-radius: 0.15rem 0.15rem 0 0;
}

[data-dpr="3"] .h-slide {
    border-top: .1rem solid #76428e;
    border-radius: .1rem .1rem 0 0;
}

.h-bottom-style {
    position: absolute;
    width: 100%;
    background: url(http://source.igdut.cn/1.4/pg5_booklist_bottom.png) repeat-x;
    background-size: 18rem auto;
    bottom: -0.5rem;
    height: 0.5rem;
}

[data-dpr="2"] .h-bottom-style {
    background-size: 8rem auto;
    bottom: -0.11rem;
    height: 0.11rem;
}

[data-dpr="3"] .h-bottom-style {
    background-size: 5rem auto;
    bottom: -0.11rem;
    height: 0.11rem;
}

.hand-tip {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    text-align: center;
    z-index: 9999;
}

/*6.借阅兴趣*/
.slide6 {
    background: url('http://source.igdut.cn/1.4/pg6_interest.png') 0 0;
    background-size: 100% 100%;
}

.font-interest {

}

/*7.借的最后一本书*/
.slide7 {
    background: url('http://source.igdut.cn/1.4/pg7_lastbook.png') 0 0;
    background-size: 100% 100%;
}

.font-lastbook {

}

/*8.结语*/
.slide8 {
    background: url('http://source.igdut.cn/1.4/pg8_epilogue.png') 0 0;
    background-size: 100% 100%;
}

.font-epilogue {

}

.once-again {
    display: block;
    position: absolute;
    left: 26px;
    bottom: 26px;
    width: 204px;
    height: 74px;
    background: url('http://source.igdut.cn/1.4/btn_again.png') 0px 0 no-repeat;
    background-size: 100%;
    border: none;
    outline: none;
    z-index: 9999;
}

.share-info {
    display: block;
    position: absolute;
    right: 26px;
    bottom: 26px;
    width: 204px;
    height: 74px;
    background: url('http://source.igdut.cn/1.4/btn_share.png') 0 0 no-repeat;
    background-size: 100%;
    border: none;
    outline: none;
    z-index: 9999;
}

.share-guide {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('http://source.igdut.cn/1.4/pg8_guide.png');
    background-repeat: no-repeat;
    background-size: 75% auto;
    background-position: top right !important;
    z-index: 99999;
}

/*9.尾屏*/
.slide9 {
    background: url('http://source.igdut.cn/1.4/pg9_final.png') 0 0;
    background-size: 100% 100%;
}

.font-final {

}

/*音乐图标*/
.music {
    position: absolute;
    display: none;
    top: .2rem;
    right: .2rem;
    width: 1.2rem;
    height: 1.2rem;
    background: url('http://source.igdut.cn/1.4/icon_music.png') no-repeat;
    background-size: 100%;
    z-index: 200;
}

.music-play {
    animation: 3s linear infinite music-circle;
    -webkit-animation: 3s linear infinite music-circle;
}

/*** CSS动效 ***/

/*字体*/
@keyframes font-animation {
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes font-animation {
    100% {
        opacity: 1;
    }
}

/*箭头*/
@keyframes arrow-animation {
    100% {
        bottom: 15px;
    }
}

@-webkit-keyframes arrow-animation {
    100% {
        bottom: 15px;
    }
}

/*音乐图标*/
@keyframes music-circle {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes music-circle {
    0% {
        -webkit-transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}
