* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html, body {
    -webkit-user-select: none; /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
    width: 100%;
    height: 100%;
}

body {
    background: white;
    color: #000;
    margin: 0 auto;
    position: relative;
}

a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}

input[type="button"], input[type="submit"], input[type="reset"] {
    /*去掉IOS默认input样式*/
    -webkit-appearance: none;
}

/*** CSS开始 ***/
#app {
    display: flex;
    width: 100%;
    height: 100%;
}

.login-box {
    width: 5rem;
    margin: auto;
    padding-bottom: 2rem;
}

.login-img {
    width: 4rem;
    margin: 0 auto;
    display: block;
}

.login-input {
    width: 100%;
    height: 1.2rem;
    margin: .15rem 0;
    padding: 0 .2rem;
    font-size: 24px;
    color: #787676;
    background: white;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    /*border和padding全会在你设置的宽度内部*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-input:focus {
    border-color: #62c2e4;
    outline: none;
}

.login-submit {
    width: 100%;
    height: 1.2rem;
    margin: .15rem 0;
    font-size: 24px;
    color: white;
    text-align: center;
    background: #acd8cb;
    border: 0;
    border-radius: 10px;
}

.login-waiting {
    background: #919191;
}

[data-dpr="2"] .login-input {
    font-size: 32px;
}

[data-dpr="3"] .login-input {
    font-size: 50px;
}

[data-dpr="2"] .login-submit {
    font-size: 46px;
}

[data-dpr="3"] .login-submit {
    font-size: 72px;
}

/* 为home.html预加载字体(全平台兼容) */
@font-face {
    font-family: abc;
    src: url('http://source.igdut.cn/zhanku.ttf') format('truetype');
}

.font-abc {
    font-family: abc, sans-serif;
    position: absolute;
    top: -9999px;
    left: -9999px;
}